@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap");
.fondocolor {
  background-color: #150050;
}

.fondocolor-uno {
  border-radius: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #ffffff;
}
* body {
  background-color: #000000;
}

.titulo {
  display: none;
}

.LogoPrincipal {
  position: absolute;
  padding: 0px 25px;
}

nav {
  background: #000000;
  height: 80px;
  width: 100%;
}
nav ul {
  float: right;
  margin-right: 20px;
}
nav li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav .botonNav {
  color: #fff;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}
nav .botonNav:hover {
  background: #3F0071;
  box-shadow: 0 0 5px #610094, 0 0 25px #610094, 0 0 50px #610094, 0 0 200px #610094;
}

.checkbtn {
  font-size: 30px;
  color: #ffffff;
  float: right;
  line-height: 70px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

.carrousel {
  width: 100%;
  height: 460px;
  margin: auto;
  overflow: hidden;
}
.carrousel ul {
  display: flex;
  padding: 0;
  width: 400%;
  animation: slide 20s infinite alternate ease-in-out;
}
.carrousel li {
  width: 100%;
  list-style: none;
}
.carrousel img {
  width: 100%;
}

@keyframes slide {
  0% {
    margin-left: 0;
  }
  20% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  45% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  70% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  100% {
    margin-left: -300%;
  }
}
.footerinicio,
.footer {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 10vh;
  align-items: flex-end;
}

.copyinicio,
.copy {
  color: #ffffff;
}

.redesinicio,
.redes {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}
.redesinicio img,
.redes img {
  width: 70px;
  padding: 5px 20px;
  filter: invert(100%);
}

section {
  clear: both;
}

.titulopages {
  text-align: center;
}

.escuchanos {
  padding-top: 5px;
}

.contenido {
  display: flex;
  flex-wrap: wrap;
}

.container {
  padding-top: 20px;
}

.contenidoFechas {
  padding-bottom: 20px;
  z-index: -1;
}

.caja {
  display: flex;
  justify-content: center;
}

.fechas {
  padding-left: 5px;
  width: 50%;
}

.color {
  color: #000000;
}

.colorfondo {
  background-color: #150050;
}

.submit {
  margin-bottom: 5px;
  color: #150050;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  border-radius: 5px;
}

.logoFechas {
  width: 100%;
  padding-top: 15px;
}

.fondoimg {
  background-image: url("../images/grupo.jpg");
  background-position: center;
  background-size: cover;
}

.formularioBase {
  display: flex;
  justify-content: space-around;
  padding: 0 30px;
}
.formularioBase .formularioArticuloImg {
  padding: 10px;
  flex-grow: 1;
}
.formularioBase .formularioArticuloImg .formularioImagen {
  border-radius: 10px;
}
.formularioBase .form {
  flex-grow: 3;
}

@media (max-width: 800px) {
  .checkbtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #150050;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 2000;
  }
  ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }
  ul li a {
    font-size: 20px;
  }
  #check:checked ~ ul {
    left: 0;
  }
  .carrousel {
    display: none;
  }
  body {
    background: url("../images/grupo.jpg");
    width: 100%;
  }
  .footerinicio {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: flex-end;
  }
  .footerinicio .redesinicio a {
    padding: 0 20px;
  }
  .novedades {
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
  }
  .novedades .novedadesCaja {
    margin: 10px auto;
  }
  .logoFechas, .formularioArticuloImg {
    display: none;
  }
}
.novedadesTitulo {
  font-family: "Roboto", sans-serif;
  padding-top: 30px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 10px;
  word-spacing: 20px;
}
.novedadesTitulo a {
  text-decoration: none;
}

.novedades {
  margin: 40px auto;
  display: flex;
  justify-content: space-around;
}
.novedades .novedadesCaja {
  display: flex;
  flex-wrap: wrap;
  height: 360px;
  width: 300px;
  background-color: #150050;
}
.novedades .novedadesCaja .novedadesCajaImagen {
  width: 100%;
  height: 200px;
  background-color: aquamarine;
}
.novedades .novedadesCaja .novedadesCaja2 {
  padding: 5px;
}
.novedades .novedadesCaja:hover {
  box-shadow: 0 0 5px #610094, 0 0 25px #610094, 0 0 50px #610094, 0 0 200px #610094;
}

.cajasBanda {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.cajasBandaInfo {
  padding-top: 50px;
}

a {
  text-decoration: none;
}

.volverAlInicio {
  text-align: right;
  margin-bottom: 20px;
  padding-right: 10px;
}

.cajasVinculo:hover {
  box-shadow: 0 0 5px #610094, 0 0 25px #610094, 0 0 50px #610094, 0 0 200px #610094;
}

/*# sourceMappingURL=estilos.css.map */
