//Tipo de Tipografia
$fonts: 'Roboto', sans-serif;

//Paleta de Colores
$colorPrimario: #000000;
$colorSecundario: #150050;
$colorTerciario: #3F0071;
$colorComplementario: #610094;
$colorblanco: #ffffff;

//weight
$textThin:100;
$textRegular:300;
$textBold:400;

